@font-face {
  font-family: "Mononoki";
  src: url("../src/assets/fonts/MononokiNerdFontMono-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
	background-color: #111111;
	color: #229988;
	font-family: "Mononoki", sans-serif;
}

i:hover {
	cursor: pointer;
}
